/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.relativePos{
  position: relative;
}

.rowStyle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexStyle{
  flex: 1;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}
